<footer class="footer mt-auto d-flex justify-content-between align-items-center px-3">
  <%= link_to root_path do %>
    <%=image_tag "logo-reverse.png", alt: "Example Image", class: "logo"%>
  <% end %>
  <div>Copyright &copy; 2020. All rights reserved.</div>
  <div class="d-flex align-items-center">
    <span class="mr-2 mt-1"> Design: </span>
    <a href="https://www.behance.net/gallery/14554909/liFEsTlye-Mobile-version">
      <%= image_tag "behance.webp", alt: "Example Image", class: "behance-logo" %>
    </a>
  </div>
</footer>