<main class="home d-flex flex-column">
  <section class="featured">

  </section>
    
<%#  %>
  <section class="categories d-flex align-items-stretch mb-0">
    <article class="category">
    teste1
    </article>
    <article class="category">
    teste2
    </article>
    <article class="category">
    teste3
    </article>
    <article class="category">
    teste4
    </article>
    <article class="category">
    teste5
    </article>
  </section>
</main>
