<main class="home d-flex flex-column">
  <section class="featured">
<a href="#someid">NEXT</a>

  </section>
    

  <section class="categories d-flex align-items-stretch">
    <article class="category">
    teste
    </article>
    <article class="category">
    teste
    </article>
    <article class="category">
    teste
    </article>
    <article class="category">
    teste
    </article>
    <article class="category" id="someid">
    teste
    </article>
  </section>
</main>
