// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  width: 100%;
  height: calc(100vh - 100px);

  .review-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .featured {
    height: 65%;
    box-shadow: inset 7px -116px 51px -36px rgba(0,0,0,0.75);
    padding: 20px;

    &-title {
      font-family: "Chivo", sans-serif;
      font-size: 1.2rem;
      font-weight: 900;
      color: #f66337;
      text-shadow: 2px 2px 2px #000;
      margin: 10px 0;
    }
  }

  .categories {
    height: 35%;

    .category {
      height: 100%;
      box-shadow: inset 0px 0px 100px 15px rgba(0,0,0,0.75);
      padding: 20px;

      .title {
        font-family: "Chivo", sans-serif;
        font-size: 1.1rem;
        font-weight: 900;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        padding: 0;
        margin: 0;
      }

      &-title {
        &-link {
          display: inline-block;
          color: #fff;


          &::after {
            content: '';
            display: block;
            background-color: #ffff00;
            height: 3px;
            margin-top: 2px;
            width: 100%;
          }

          &:hover {
            color: #f66337;
            text-decoration: none;

            &::after {
              background-color: #f66337;
            }
          }
        }
      }
    }
  }

  .slick-list {
    min-height: 100%;
    .slick-track {
      min-height: 100%;
      display: flex;
      align-items: stretch;
      .slick-slide{
        display: flex;
        height: auto;
        flex: 1 1 auto;
        div {
          flex: 1 1 auto;
        }
      }
    }
  }

  .slick-prev::before, .slick-next::before {
    font-size: 2rem;
    color: #ffff00;
    text-shadow: 2px 2px 2px #000;

  }

  .slick-prev, .slick-next {
    z-index: 1;
  }
  
  .slick-next {
    right: 30px;
  }
  
  .slick-prev {
    left: 15px;
  }
}