<main class="review-edit">
  <h1 class="page-title"><span>&gt; </span>Edit Review</h1>
  <section class="review-form-container w-75 p-4 mx-auto mb-4 bg-light">
    <%= render partial: 'form' %>
  </section>
</main>
